@{
    ViewBag.Title = "Confirmación de reseteo de clave";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Tu clave ha sido reseteada. Por favor @Html.ActionLink("clickea aquí para acceder", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
