@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1 class="text-error">Error.</h1>
    <h2 class="text-error">Ha ocurrido un error procesando su solicitud.</h2>
</hgroup>
