@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueada";
}

<hgroup>
    <h1 class="text-error">Bloqueada.</h1>
    <h2 class="text-error">Esta cuenta ha sido bloqueada, intente más tarde.</h2>
</hgroup>
