@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar.</h2>

<h3>¿Seguro que quieres eliminar este usuario?</h3>
<div>
    <h4>Usuario.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.UserName)*@
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
