@{
    ViewBag.Title = "Acerca de esta aplicación";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Proyecto de metodologías de software desarrollado por el equipo.</p>
        <dl>
            <dt>Antonio López</dt><dd>Analista funcional</dd>
            <dt>Cristián Ormazábal</dt><dd>Programador</dd>
            <dt>Omar Fuentes</dt><dd>Arquitecto</dd>
            <dt>Sergio Velarde</dt><dd>Jefe de Proyecto</dd>
            <dt>Cristián Salinas</dt><dd>Diseño Web</dd>
        </dl>
    </div>
</div>