@{
    ViewBag.Title = "Contacto";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Simón Bolívar 1840<br />
        Ñuñoa - Santiago - Chile<br />
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Soporte:</strong>   <a href="mailto:soporte@ormasoft.cl">soporte@ormasoft.cl</a><br />
        <i class="icon-envelope"></i><strong>Ventas:</strong> <a href="mailto:ventas@ormasoft.cl">ventas@ormasoft.cl</a>
    </address>
</div>